  
   /* Card container */
   .card-container1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
     }
     /* Combined card1 CSS */
     .card1 {
      display: flex;
      position: relative;
      max-width: 30rem;
      background-color: #f3f0eb;
      border-radius: 4px;
      padding: 15px 15px;
      margin: 12px;
      text-decoration: none;
      z-index: 0;
      overflow: hidden;
      transition: all 0.3s ease-out;
    
     }
     .card1:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #c4dff8;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-out;
     }
     .card1:hover:before {
      transform: scale(35);
      
     }
     .card1:hover {
      top: -4px;
      box-shadow: 0px 4px 8px rgba(81, 204, 226, 0.849);
     }
     .card1:hover p,
  
     .card1:hover {
      transition: all 0.3s ease-out;
      color: rgba(0, 2, 104, 0.8);
     }
     .card1:hover .progress {
      background-color: rgba(255, 255, 255, 0.8);
     }
     /* Go corner arrow */
     .go-corner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 40px;
      height: 40px;
      overflow: hidden;
      top: 0;
      right: 0;
      background-color: #03045e;
      border-radius: 0 4px 0 32px;
     }
     .go-arrow {
      margin-top: -4px;
      margin-right: -4px;
      color: white;
      font-family: courier, sans;
     }
   
     
    
    