    /* src/index.css */
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    /* Your custom CSS can go here */
    * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }

    html,
    body {
      width: 100%;
      height: 100%;
    }

    #root {
      width: 100%;
      height: 100%;
      display: flex;
      /* gap:1%; */
      /* padding: 15px; */
      /* gap: 5px; */
      background-color: #111827;
      /* padding: 10px; */
      align-items: center;
      justify-content: center;
    }




    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer utilities {
      #left::-webkit-scrollbar {
        width: 8px;
        /* Width of the scrollbar*/
      }

      #left::-webkit-scrollbar-track {
        background: #f1f5f9;
        /* Tailwind's gray-100*/
        border-radius: 10px;
      }

      #left::-webkit-scrollbar-track {
        background: #f1f5f9;
        /*Tailwind's gray-100 */
        border-radius: 10px;
      }

      #left::-webkit-scrollbar-thumb {
        background: #94a3b8;
        /* Tailwind's gray-400*/
        border-radius: 10px;
        border: 3px solid #f1f5f9;
        /* Padding around the thumb*/
      }

      #left::-webkit-scrollbar-thumb:hover {
        background: #64748b;
        /* Tailwind's gray-600 */
      }
      #right::-webkit-scrollbar {
        width: 8px;
        /* Width of the scrollbar*/
      }

      #right::-webkit-scrollbar-track {
        background: #f1f5f9;
        /* Tailwind's gray-100*/
        border-radius: 10px;
      }

      #right::-webkit-scrollbar-track {
        background: #f1f5f9;
        /*Tailwind's gray-100 */
        border-radius: 10px;
      }

      #right::-webkit-scrollbar-thumb {
        background: #94a3b8;
        /* Tailwind's gray-400*/
        border-radius: 10px;
        border: 3px solid #f1f5f9;
        /* Padding around the thumb*/
      }

      #right::-webkit-scrollbar-thumb:hover {
        background: #64748b;
        /* Tailwind's gray-600 */
      }
    }


    /* Hide scrollbars but allow scrolling */
    .cm-scroller {
      scrollbar-width: none;
      /* Firefox */
      -ms-overflow-style: none;
      /* IE 10+ */
    }

    .cm-scroller::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari, Opera */
    }